<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.pwcong.ssm.dao.UserMapper">

	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<insert id="add" parameterType="UserVo">
		INSERT INTO
		user(uid,pwd,createdAt,updatedAt)
		VALUES
		(#{user.uid},#{user.pwd},#{user.createdAt},#{user.updatedAt})
	</insert>

	<select id="findByUID" parameterType="java.lang.String"
		resultType="User">
		SELECT *
		FROM user
		WHERE
		uid=#{uid}
	</select>



</mapper>